{{- if .Site.Params.widgets.sites }}
<div class="widget-sites widget">
	<h4 class="widget-sites__title widget__title">{{ T "sites_title" }}</h4>
	<div class="widget-sites__content widget__content">
		<div class="widget-sites__item widget__item">
			<a class="widget-sites__link widget__link btn" title="Mailinator" rel="noopener noreferrer" href="https://mailinator.com/" target="_blank">
				<img border="0" src="https://mailinator.com/img/guy1.png">
				<span>Mailinator</span>
			</a>
		</div>
	</div>
</div>
{{- end }}
